{% extends "base.html" %}

{% block content %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">

      <div class="relative isolate flex flex-col gap-8 lg:flex-row">
        <div>
          <div class="group relative max-w-xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ story.title }}</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">{{ story.description }}</p>
          </div>

          <div class="mt-6 flex border-t border-gray-900/5 pt-6">
            <div class="relative flex items-center gap-x-4">
              <div class="text-sm leading-6">
                <span class="text-gray-500">{{ story.total_chapters }} human{{ story.total_chapters|pluralize }} writing this story</span>
                <p class="mt-4">
                  <a href="{% url 'game:story_write' story.id %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Write Your Chapter</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
          <img src="{{ story.illustration.url }}" alt="{{ story.title }}" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover object-top">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
      </div>

      <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
        {% for chapter in story.completed_chapters %}
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <span class="text-gray-500">{{ chapter.human.name }}</span>
            {% comment %} <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a> {% endcomment %}
          </div>
          <div class="group relative prose">
            {{ chapter.body|linebreaks }}
          </div>
        </article>
        {% endfor %}
      </div>

      <div class="text-center mt-12 border-t border-gray-200 pt-10 ">
      <p class="mt-1 text-sm text-gray-500">It's your turn!</p>
        <div class="mt-6">
          <a href="{% url 'game:story_write' story.id %}" type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Write Your Chapter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
