{% extends "base.html" %}

{% block content %}
    <h2>Stories</h2>
    {% if chapters %}
    <p>You are a part of the following stories:</p>
    <ul>
        {% for chapter in chapters %}
        <h3>{{ chapter.story.title }}</h3>
        <p>{{ chapter.story.description }}</p>
        <p><a href="{% url 'game:story_detail' chapter.story.id %}">Read this story</a></p>
        {% endfor %}
    </ul>
    {% else %}
    <p>You are not a part of any stories yet. You'll receive an email when it's time for you to write your chapter in a story.</p>
    {% endif %}

{% endblock %}
