{% extends "base.html" %}

{% block content %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">

      <div class="relative isolate flex flex-col gap-8 lg:flex-row">
        <div>
          <div class="group relative max-w-xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ story.title }}</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">{{ story.description }}</p>
          </div>

          <div class="mt-6 flex border-t border-gray-900/5 pt-6">
            <div class="relative flex items-center gap-x-4">
              <div class="text-sm leading-6">
                <span class="text-gray-500">{{ story.total_chapters }} humans are writing this story</span>
                <p class="mt-4">
                    <a href="{% url 'game:story_detail' story.id %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Read Story</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
          <img src="{{ story.illustration.url }}" alt="{{ story.title }}" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover object-top">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
      </div>

      <div class="text-center mt-12 border-t border-gray-200 pt-10 ">

        {% if story.last_chapter.pk == chapter.pk %}
        <div class="border-l-4 border-yellow-400 bg-yellow-50 p-4 text-left">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm text-yellow-700">
                This is the last chapter in this story. Keep that in mind as you are concluding the story.
              </p>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="mt-12 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Your Chapter</h2>
        </div>
        <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" method="POST">
            {% csrf_token %}
            <div>
              <textarea rows="12" name="body" id="body" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
            </div>
      
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
