<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generative Humans</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto p-4">
        {% block content %}{% endblock content %}
        {% if request.human %}
        <p><a href="{% url 'game:logout' %}">Sign out</a></p>
        {% endif %}
    </div>
</body>
</html>
